<html ng-app="Ins">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A Instagram mirror - Powered by MEAN and Satellizer</title>
    <!-- Twitter Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design for Bootstrap -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="node_modules/sweetalert/dist/sweetalert.css">
</head>

<body>
    <div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <a href="#/" class="navbar-brand">
                    <i class="ion-images"></i> Interest
                </a>
                <li><a href="#/">Home</a></li>
                <li ng-if="!isAuthenticated()"><a href="#/login">Log in</a></li>
                <li ng-if="!isAuthenticated()"><a href="#/signup">Sign up</a></li>
                <li ng-if="isAuthenticated()"><a ng-click="logout()" href="">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li id="avatar-line" ng-if="isAuthenticated() && currentUser && currentUser.username">
                    <a id="nav-avatar-a" href="http://instagram.com/{{currentUser.username}}">
                        <img class="media-object img-rounded nav-avatar" ng-src="{{currentUser.picture}}"> 
                        <span>@{{currentUser.username}}</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    <div ng-view></div>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-environment/dist/angular-environment.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="node_modules/satellizer/satellizer.min.js"></script>
    
    <!--
    <script src="app.js"></script>   
    <script src="controller/home.js"></script>
    <script src="controller/navbar.js"></script>
    <script src="controller/login.js"></script>
    <script src="controller/signup.js"></script>
    <script src="controller/detail.js"></script>
    <script src="service/api.js"></script>
    <script src="directive/serverError.js"></script>
    -->
    
    <script src="app.min.js"></script>
    
    <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>