<div class="container">
	<div ng-if="isAuthenticated() && currentUser.username">
		<div class="row">
			<div ng-repeat="photo in photos" class="col-lg-2 col-sm-3 col-xs-4">
				<a href="#/photo/{{photo.id}}">
					<img ng-src="{{photo.images.standard_resolution.url}}" class="thumbnail img-responsive">
				</a>
			</div>
		</div>
	</div>

	<div ng-if="!isAuthenticated()">
		<div class="jumbotron">
			<h1><i class="ion-images"></i> Interest</h1>
			<p>This is a basic Instagram clone powered by nodejs & Satellizer. To continue, please log in using your Instagram profile
				or create a new account.</p>
			<p>
				<a class="btn btn-lg btn-success" href="#/login">
					<i class="ion-log-in"> Log in</i>
				</a>
				<a class="btn btn-lg btn-primary" href="#/signup">
					<i class="ion-person-add"></i> Create account
				</a>
			</p>
		</div>
	</div>
	<div ng-if="isAuthenticated() && !currentUser.username" class="center-form panel">
		<div class="panel col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 ">
			<h3 class="text-center"><i class="ion-link"></i> Link Account</h3>
			<p>To complete the registration process you must link your Instagram account.</p>
			<button class="btn btn-block btn-primary" ng-click="linkInstagram()">
				<i class="ion-social-instagram"></i> Sign in with Instagram
			</button>
		</div>
	</div>
</div>